.direction-content {
    margin-top: 0;
}

.gallery__title {
    text-align: left;
    margin-bottom: 30px;
}

.ct-benefits__item {
    display: flex;
    align-items: center;
    gap: 10px;
}

.ct-benefits__list {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.ct-description {
    margin-top: 36px;
    font-size: 16px;
    line-height: 1.8;
}

.ct-image {
    width: 100%;
    margin: 36px 0;
}

.ct-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.ct-repeated-section__title {
    font-size: 24px;
    font-weight: 600;
}

@media (max-width: 480px) {
    .ct-image {
        margin: 16px 0;
    }

    .ct-description {
        margin-top: 16px;
    }
}